.viewCheckContainer {
	width: 90%;
	max-width: 474px;
	margin: 0 auto;

	.Logo {
		margin: 0 auto 84px;
	}

	h3 {
		font-size: 15px;
		font-weight: normal;
		text-align: center;
	}

	button {
		padding: 19px 0;
		border-radius: 5px;
	}
}